<div class="social-bar md-text-center" style="font-size: 1.7em">
    <ul>
        <li>
            <a href="https://www.facebook.com/iotshaman" target="_blank" rel="nofollow">
                <i class="fab fa-facebook-square"></i>
            </a>
        </li>
        <li>
            <a href="https://twitter.com/iotshaman" target="_blank" rel="nofollow">
                <i class="fab fa-twitter-square"></i>
            </a>
        </li>
        <li>
            <a href="https://github.com/iotshaman" target="_blank" rel="nofollow">
                <i class="fab fa-github-square"></i>
            </a>
        </li>
    </ul>
</div>