<title>{{this.title}}</title>
<meta name="description" content="{{this.description}}">
<meta property="og:title" content="{{this.title}}">
<meta property="og:type" content="{{#isNullOrEmpty this.og_type}}article{{else}}{{this.og_type}}{{/isNullOrEmpty}}">
<meta property="og:url" content="https://www.iotshaman.com{{route}}">
<meta property="og:description" content="{{this.description}}">
{{#isNullOrEmpty this.og_image}}
<meta property="og:image" content="{{this.og_image}}">
{{else}}
<meta property="og:image" content="{{this.og_image}}">
{{/isNullOrEmpty}}
<meta name="twitter:card" content="summary">
<meta name="twitter:site" content="@iotshaman">
<meta name="twitter:title" content="{{this.title}}">
<meta name="twitter:description" content="{{this.description}}">
{{#isNullOrEmpty this.og_image}}
<meta name="twitter:image" content="{{this.og_image}}">
{{else}}
<meta name="twitter:image" content="{{this.og_image}}">
{{/isNullOrEmpty}}