<!DOCTYPE html>
<html lang="en">
  <head>
    {{> partials/meta/common-tags.partial.html }}
    {{> partials/meta/meta-props.partial.html }}
    {{{import-bundles 'views/index.html'}}}
    {{> partials/meta/font-awesome.partial.html }}
    {{> partials/meta/google-analytics.partial.html }}
    <style>
      .above-the-fold .row {
        padding: 100px 20px 0px 20px;
      }
    </style>
  </head>
<body>
  {{> partials/layout/header.partial.html }}
  <div class="body">
    <div class="above-the-fold min-body-height">
      <div class="row">
        <div class="col-md-6" style="color: white; text-align: left;">
          <div class="content-section">
            <h2>Something Went Wrong!</h2>
            <p>
              We appologize for any inconvenience. If this issue persists, please reach out to 
              us on our social media. Have a great day!
            </p>
            {{> partials/social/social-bar-lg.partial.html }}
          </div>
        </div>
        <div class="col-md-6">
          <img src="images/iotlogowhite.svg" alt="IoT Shaman - Unlocking the Mysteries of IoT">
          <h1>IoT Shaman</h1>
        </div>
      </div>
    </div>
    {{> partials/layout/footer.partial.html }}
  </div>
  </body>
</html>